docker-compose : time="2025-12-15T20:27:45-03:00" level=warning 
msg="C:\\Users\\anapa\\PilotoJogo\\docker-compose.yml: the attribute `version` 
is obsolete, it will be ignored, please remove it to avoid potential confusion"
No linha:1 caractere:1
+ docker-compose exec postgres pg_dump -U postgres jogo_online > backup ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (time="2025-12-1...tial confusion" 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
--
-- PostgreSQL database dump
--

\restrict cnclxFyK6YsHPr6HVt5Jc3c2O9ChtrWwa0H1r1PSeOXP65vSZ6wbFGICg5gHLFF

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: llmprovider; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.llmprovider AS ENUM (
    'OPENAI',
    'ANTHROPIC'
);


ALTER TYPE public.llmprovider OWNER TO postgres;

--
-- Name: userrole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.userrole AS ENUM (
    'ADMIN',
    'PLAYER'
);


ALTER TYPE public.userrole OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: game_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.game_rules (
    id integer NOT NULL,
    title character varying NOT NULL,
    description text,
    rule_type character varying,
    content json,
    is_active boolean,
    created_by integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    game_id integer
);


ALTER TABLE public.game_rules OWNER TO postgres;

--
-- Name: game_rules_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.game_rules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.game_rules_id_seq OWNER TO postgres;

--
-- Name: game_rules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.game_rules_id_seq OWNED BY public.game_rules.id;


--
-- Name: game_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.game_sessions (
    id integer NOT NULL,
    player_id integer NOT NULL,
    room_id integer,
    current_scenario_id integer,
    current_phase integer,
    status character varying,
    llm_provider character varying,
    llm_model character varying,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    last_activity timestamp with time zone DEFAULT now(),
    game_id integer
);


ALTER TABLE public.game_sessions OWNER TO postgres;

--
-- Name: game_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.game_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.game_sessions_id_seq OWNER TO postgres;

--
-- Name: game_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.game_sessions_id_seq OWNED BY public.game_sessions.id;


--
-- Name: games; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.games (
    id integer NOT NULL,
    title character varying NOT NULL,
    description text,
    cover_image_url character varying,
    is_active boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.games OWNER TO postgres;

--
-- Name: games_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.games_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.games_id_seq OWNER TO postgres;

--
-- Name: games_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.games_id_seq OWNED BY public.games.id;


--
-- Name: llm_configurations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.llm_configurations (
    id integer NOT NULL,
    provider public.llmprovider NOT NULL,
    model_name character varying NOT NULL,
    api_key character varying NOT NULL,
    is_active boolean,
    cost_per_token double precision,
    max_tokens integer,
    temperature double precision,
    created_at timestamp with time zone DEFAULT now(),
    total_requests integer,
    total_tokens integer,
    total_cost double precision,
    avg_response_time double precision,
    game_id integer
);


ALTER TABLE public.llm_configurations OWNER TO postgres;

--
-- Name: llm_configurations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.llm_configurations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.llm_configurations_id_seq OWNER TO postgres;

--
-- Name: llm_configurations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.llm_configurations_id_seq OWNED BY public.llm_configurations.id;


--
-- Name: llm_test_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.llm_test_results (
    id integer NOT NULL,
    llm_config_id integer NOT NULL,
    test_prompt text NOT NULL,
    response text NOT NULL,
    response_time double precision NOT NULL,
    tokens_used integer,
    cost double precision,
    quality_score double precision,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.llm_test_results OWNER TO postgres;

--
-- Name: llm_test_results_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.llm_test_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.llm_test_results_id_seq OWNER TO postgres;

--
-- Name: llm_test_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.llm_test_results_id_seq OWNED BY public.llm_test_results.id;


--
-- Name: room_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room_members (
    id integer NOT NULL,
    room_id integer NOT NULL,
    user_id integer NOT NULL,
    joined_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.room_members OWNER TO postgres;

--
-- Name: room_members_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.room_members_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.room_members_id_seq OWNER TO postgres;

--
-- Name: room_members_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.room_members_id_seq OWNED BY public.room_members.id;


--
-- Name: rooms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rooms (
    id integer NOT NULL,
    name character varying NOT NULL,
    description text,
    max_players integer,
    is_active boolean,
    created_by integer,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.rooms OWNER TO postgres;

--
-- Name: rooms_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rooms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rooms_id_seq OWNER TO postgres;

--
-- Name: rooms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rooms_id_seq OWNED BY public.rooms.id;


--
-- Name: scenarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scenarios (
    id integer NOT NULL,
    name character varying NOT NULL,
    description text,
    image_url character varying,
    phase integer,
    "order" integer,
    is_active boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    file_url character varying,
    file_content text,
    game_id integer
);


ALTER TABLE public.scenarios OWNER TO postgres;

--
-- Name: scenarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.scenarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.scenarios_id_seq OWNER TO postgres;

--
-- Name: scenarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.scenarios_id_seq OWNED BY public.scenarios.id;


--
-- Name: session_interactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.session_interactions (
    id integer NOT NULL,
    session_id integer NOT NULL,
    player_input text NOT NULL,
    player_input_type character varying,
    ai_response text NOT NULL,
    ai_response_audio_url character varying,
    llm_provider character varying,
    llm_model character varying,
    tokens_used integer,
    cost double precision,
    response_time double precision,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.session_interactions OWNER TO postgres;

--
-- Name: session_interactions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.session_interactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.session_interactions_id_seq OWNER TO postgres;

--
-- Name: session_interactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.session_interactions_id_seq OWNED BY public.session_interactions.id;


--
-- Name: session_scenarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.session_scenarios (
    id integer NOT NULL,
    session_id integer NOT NULL,
    scenario_id integer NOT NULL,
    phase integer,
    completed boolean,
    completed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.session_scenarios OWNER TO postgres;

--
-- Name: session_scenarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.session_scenarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.session_scenarios_id_seq OWNER TO postgres;

--
-- Name: session_scenarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.session_scenarios_id_seq OWNED BY public.session_scenarios.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying NOT NULL,
    email character varying NOT NULL,
    hashed_password character varying NOT NULL,
    role public.userrole,
    is_active boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: game_rules id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game_rules ALTER COLUMN id SET DEFAULT nextval('public.game_rules_id_seq'::regclass);


--
-- Name: game_sessions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game_sessions ALTER COLUMN id SET DEFAULT nextval('public.game_sessions_id_seq'::regclass);


--
-- Name: games id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.games ALTER COLUMN id SET DEFAULT nextval('public.games_id_seq'::regclass);


--
-- Name: llm_configurations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.llm_configurations ALTER COLUMN id SET DEFAULT nextval('public.llm_configurations_id_seq'::regclass);


--
-- Name: llm_test_results id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.llm_test_results ALTER COLUMN id SET DEFAULT nextval('public.llm_test_results_id_seq'::regclass);


--
-- Name: room_members id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_members ALTER COLUMN id SET DEFAULT nextval('public.room_members_id_seq'::regclass);


--
-- Name: rooms id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms ALTER COLUMN id SET DEFAULT nextval('public.rooms_id_seq'::regclass);


--
-- Name: scenarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scenarios ALTER COLUMN id SET DEFAULT nextval('public.scenarios_id_seq'::regclass);


--
-- Name: session_interactions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_interactions ALTER COLUMN id SET DEFAULT nextval('public.session_interactions_id_seq'::regclass);


--
-- Name: session_scenarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_scenarios ALTER COLUMN id SET DEFAULT nextval('public.session_scenarios_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: game_rules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.game_rules (id, title, description, rule_type, content, is_active, created_by, created_at, updated_at, game_id) FROM stdin;
\.


--
-- Data for Name: game_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.game_sessions (id, player_id, room_id, current_scenario_id, current_phase, status, llm_provider, llm_model, created_at, updated_at, last_activity, game_id) FROM stdin;
\.


--
-- Data for Name: games; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: llm_configurations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.llm_configurations (id, provider, model_name, api_key, is_active, cost_per_token, max_tokens, temperature, created_at, total_requests, total_tokens, total_cost, avg_response_time, game_id) FROM stdin;
\.


--
-- Data for Name: llm_test_results; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.llm_test_results (id, llm_config_id, test_prompt, response, response_time, tokens_used, cost, quality_score, created_at) FROM stdin;
\.


--
-- Data for Name: room_members; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.room_members (id, room_id, user_id, joined_at) FROM stdin;
1	1	4	2025-11-28 01:57:03.627399+00
\.


--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rooms (id, name, description, max_players, is_active, created_by, created_at) FROM stdin;
1	Sala de Teste	Sala criada para testes automatizados	4	t	4	2025-11-28 01:57:03.619749+00
\.


--
-- Data for Name: scenarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.scenarios (id, name, description, image_url, phase, "order", is_active, created_at, updated_at, file_url, file_content, game_id) FROM stdin;
\.


--
-- Data for Name: session_interactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.session_interactions (id, session_id, player_input, player_input_type, ai_response, ai_response_audio_url, llm_provider, llm_model, tokens_used, cost, response_time, created_at) FROM stdin;
\.


--
-- Data for Name: session_scenarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.session_scenarios (id, session_id, scenario_id, phase, completed, completed_at, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: game_rules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.game_rules_id_seq', 2, true);


--
-- Name: game_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.game_sessions_id_seq', 8, true);


--
-- Name: games_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.games_id_seq', 13, true);


--
-- Name: llm_configurations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.llm_configurations_id_seq', 2, true);


--
-- Name: llm_test_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.llm_test_results_id_seq', 4, true);


--
-- Name: room_members_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.room_members_id_seq', 1, true);


--
-- Name: rooms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rooms_id_seq', 1, true);


--
-- Name: scenarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.scenarios_id_seq', 8, true);


--
-- Name: session_interactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.session_interactions_id_seq', 9, true);


--
-- Name: session_scenarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.session_scenarios_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 6, true);


--
-- Name: game_rules game_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game_rules
    ADD CONSTRAINT game_rules_pkey PRIMARY KEY (id);


--
-- Name: game_sessions game_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game_sessions
    ADD CONSTRAINT game_sessions_pkey PRIMARY KEY (id);


--
-- Name: games games_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_pkey PRIMARY KEY (id);


--
-- Name: llm_configurations llm_configurations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.llm_configurations
    ADD CONSTRAINT llm_configurations_pkey PRIMARY KEY (id);


--
-- Name: llm_test_results llm_test_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.llm_test_results
    ADD CONSTRAINT llm_test_results_pkey PRIMARY KEY (id);


--
-- Name: room_members room_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_members
    ADD CONSTRAINT room_members_pkey PRIMARY KEY (id);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (id);


--
-- Name: scenarios scenarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scenarios
    ADD CONSTRAINT scenarios_pkey PRIMARY KEY (id);


--
-- Name: session_interactions session_interactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_interactions
    ADD CONSTRAINT session_interactions_pkey PRIMARY KEY (id);


--
-- Name: session_scenarios session_scenarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_scenarios
    ADD CONSTRAINT session_scenarios_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_game_rules_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_game_rules_id ON public.game_rules USING btree (id);


--
-- Name: ix_game_sessions_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_game_sessions_id ON public.game_sessions USING btree (id);


--
-- Name: ix_games_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_games_id ON public.games USING btree (id);


--
-- Name: ix_llm_configurations_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_llm_configurations_id ON public.llm_configurations USING btree (id);


--
-- Name: ix_llm_test_results_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_llm_test_results_id ON public.llm_test_results USING btree (id);


--
-- Name: ix_room_members_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_room_members_id ON public.room_members USING btree (id);


--
-- Name: ix_rooms_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_rooms_id ON public.rooms USING btree (id);


--
-- Name: ix_scenarios_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_scenarios_id ON public.scenarios USING btree (id);


--
-- Name: ix_session_interactions_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_session_interactions_id ON public.session_interactions USING btree (id);


--
-- Name: ix_session_scenarios_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_session_scenarios_id ON public.session_scenarios USING btree (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: game_rules game_rules_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game_rules
    ADD CONSTRAINT game_rules_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: game_rules game_rules_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game_rules
    ADD CONSTRAINT game_rules_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id);


--
-- Name: game_sessions game_sessions_current_scenario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game_sessions
    ADD CONSTRAINT game_sessions_current_scenario_id_fkey FOREIGN KEY (current_scenario_id) REFERENCES public.scenarios(id);


--
-- Name: game_sessions game_sessions_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game_sessions
    ADD CONSTRAINT game_sessions_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id);


--
-- Name: game_sessions game_sessions_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game_sessions
    ADD CONSTRAINT game_sessions_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.users(id);


--
-- Name: game_sessions game_sessions_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game_sessions
    ADD CONSTRAINT game_sessions_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id);


--
-- Name: llm_configurations llm_configurations_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.llm_configurations
    ADD CONSTRAINT llm_configurations_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id);


--
-- Name: llm_test_results llm_test_results_llm_config_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.llm_test_results
    ADD CONSTRAINT llm_test_results_llm_config_id_fkey FOREIGN KEY (llm_config_id) REFERENCES public.llm_configurations(id);


--
-- Name: room_members room_members_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_members
    ADD CONSTRAINT room_members_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id);


--
-- Name: room_members room_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_members
    ADD CONSTRAINT room_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: rooms rooms_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: scenarios scenarios_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scenarios
    ADD CONSTRAINT scenarios_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id);


--
-- Name: session_interactions session_interactions_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_interactions
    ADD CONSTRAINT session_interactions_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.game_sessions(id);


--
-- Name: session_scenarios session_scenarios_scenario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_scenarios
    ADD CONSTRAINT session_scenarios_scenario_id_fkey FOREIGN KEY (scenario_id) REFERENCES public.scenarios(id);


--
-- Name: session_scenarios session_scenarios_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_scenarios
    ADD CONSTRAINT session_scenarios_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.game_sessions(id);


--
-- PostgreSQL database dump complete
--

\unrestrict cnclxFyK6YsHPr6HVt5Jc3c2O9ChtrWwa0H1r1PSeOXP65vSZ6wbFGICg5gHLFF

